@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Poppins:wght@300;400;500;600;700;800&family=Forum&display=swap');
body{
   background: #FC5C7D;  /* fallback for old browsers */
   background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: -webkit-linear-gradient(180deg, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
  /* background-image: url('./assets/images/luke-chesser-IGtutkXikuc-unsplash.jpg'); */
   font-family: 'Poppins', sans-serif;
    color: #fff;
    height: 100%;
}
html{
  height: 100%;
}

.container{
  margin: 0;
  padding: 0 5%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  color: #fff;
}
.logo img{
  width: 50px;
}
.logo{
 display: flex;
}
.menu{
  display: inherit;
  justify-content: space-around;
}
.menu h3{
  margin-right: 25px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.wrapper h1{
  font-size: 75px;
  margin-bottom: 0;
}
.wrapper h3{
  font-size: 30px;
  font-weight:700;
  margin-top: 0;
}

.cards{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cards img {
  width: 120px;
  height: 100%;
}

.app .cards img {
  width: 150px;
  height: auto;
}

.apps{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.275);
  border-radius:15px;
  height: 400px;
  width: 400px;
  padding: 20px;
}
.textContainer{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin-right: 100px;
}

.footer{
  background-color: rgb(27, 26, 26);
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h5{
  font-size: 15px;
  margin-right: 20px;
  font-weight: 400;
}
.footer a, .footer a:active, .footer a:hover, .menu a{
  color: #fff;
  text-decoration: none;
}
.app{
  display: flex;
  background-color: rgba(255, 255, 255, 0.127);
  border-radius:15px;
  margin-bottom: 8%;
}
.app .cards{
  width: 30%;
}
.info{
  width: 70%;
  margin: 40px 70px 40px 20px ;
}
.info h4{
  font-weight: 400;
}
.info h1{
  font-size: 50px;
  font-weight: 200;

}

/* .basic {

} */
.basic button{
  padding: 10px 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 20px;

  cursor: pointer;
}
/* .play-basic-win{
  
}
.advanced{
 
} */
.play-block{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.play-block button{
  padding: 10px 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.play-block h1{
   margin: 1rem;
}
.wrapper.content{
  flex-direction: column;
  margin-top: 10%;
}
.field{
 display: flex;
 justify-content: center;
}

.infoblock{
  /* font-family: 'Poppins', sans-serif; */
  font-size: 2em;
  font-weight: 500;
  border: solid 2px;
  /* background-color: rgba(131, 130, 163, 0.281); */
  border-radius: 1em;
  width: 70%;
  height: 27vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}
.description{
  /* font-family: 'Forum', cursive; */
  font-size: 1.9vw;
  font-weight: 600;
  padding: 1em;
  width: 70%;
  text-align: left;
}
.hint{
  height: 30%;
  border: solid 2px;
  border-radius: 1em;
  padding: 0.3em;
  margin: 1em;
  width: 20vw;
  font-size: 0.7em;
}

.infoblock0{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.infoblock:hover{
 background-color: rgba(255, 7, 197, 0.172);
}
.text-link{
  text-decoration: none;
}

.text-link:visited{
  text-decoration: none;
  color: black;
}

.text-link:hover{
  text-decoration: none;
  color: black;
}
.text-link:active{
  text-decoration: none;
  color: black;
}
.card{
   /* font-family: 'Playfair Display', serif; */
   font-size: 20px;
   font-weight: 600;
  padding: 1.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: #ff00c365; 
  display: flex;
  transition: all 1s linear;
  cursor: pointer;
}
.card:hover{
  background-color: #009FFF;  /* fallback for old browsers */
 }
 .description{
  width: 80%;
 }
.shortcuts-block{
  display: flex;
} 
.keyStyle{
  border: solid 3px #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 15px;
}
.intruction-cards{
  padding-bottom: 5%;
}
.instruction-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instruction-header button, .composition button, .scoreBox button{
  padding: 10px 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #FC5C7D;
  transition: all 0.2s linear;
}
.instruction-header button:hover, .composition button:hover{
  color:#fff;
  background-color: #009dff;;
}


.correct{
  background-color: #5cfc8c;
}
.false{
  background-color: #ff2747b3;
}

.default{
  opacity: 1;
  transition: all 0.25s linear;
}
.details{
  position: relative;
}
.details-overlay{
  width: 100%;
  height: 100vh;
  background: #5757576e;
  position: fixed;  
}
.scroll-content{
  height: 100%;
  overflow-y: scroll;
  padding-right: 0.5em;
}
.details-inner{
  position: fixed;
  background-color: #ab81de;

  width: 70%;
  height: 70vh;
  border-radius: 3em;
  padding: 25px 40px;
  z-index: 99999;
  
  
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.details-inner img{
  margin-left: 30%;
  height: 400px;
}

.details ::-webkit-scrollbar {
  width: 10px;
}
.details ::-webkit-scrollbar-track {
  border-radius: 1em;
  background: #f1f1f1; 
}
 
/* Handle */
.details ::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 1em;
  background:#8e5797; 
}

/* Handle on hover */
.details ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.hide {
  display: none;
}

p {
  font-size: 20px;
}

.comments{
  z-index: 1000;
  font-size: 7em;
  font-weight: 700;
  width: 100%;
  display: flex;
  margin-top: 15%;
  justify-content: center;
  align-items:center;
  position: absolute;
  transition: all 0.15s ease-in;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.hideComment{
  z-index: 0;
  font-size: 6em;
  opacity: 0;
}
.composition{
  border: solid 2px #00bfff;
  border-radius: 3em;
  padding: 2em;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.composition .background{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;  
  transition: all 0.4s linear;
}
.line{
  position: absolute;
  top: 0;
  transform: rotate(-41deg); 
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.087);
}
.background.transition-line{
 /* transition: all 0.8s linear; */
  left: 100%;
}
.background div:nth-child(1){
  left: 5%;
}

.background div:nth-child(2){
  left: 28%;
  height: 10%;
}
.background div:nth-child(3){
  left: 45%;
  height: 20%;
}
.composition{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}
.composition .logo img{
  width: 140px;
  height: 140px;
}
.composition .title {
  color: rgb(252, 252, 123);
  
  
  font-size: 2em;
  font-weight: 700;
}
.composition .text {
  width: 100%;
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
}
.text .progress{
  margin-top: 0.5em;
  font-size: 2em;
}
 .progress i{
  margin:  0 0.1em;
  color: rgb(255, 247, 87);
 }
 .composition .playButton{
  z-index: 99999999;
 }

 .composition-list{
  padding-bottom: 5%;
 }

 .locked { 
  z-index: 10;
  border-color: rgb(190, 190, 190);
  color: rgb(190, 190, 190);
  background-color: rgba(118, 118, 118, 0.309);
 }

 .locked::after{
  position: absolute;
  content: url('./assets/images/locked2.png');
 }

 .locked::before{
  color: #fff;
  font-size: 1.5em;
  /* font-weight: 500; */
  position: absolute;
  content: "Get 500 points to unlock";
  bottom: 10%;

 }
  .locked .title{
    color: rgb(190, 190, 190);
  }

  .locked button{
    border-color: gray;
    color: rgb(190, 190, 190);
    background-color: rgba(118, 118, 118, 0.785);
  }
  .locked i{
    color: rgb(190, 190, 190);
  }
  .composition.locked .playButton {
    z-index: 0;
    pointer-events: none;
  }

.scoreBox {
  z-index: 80;  
  padding: 3%;
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #7a2dff;
 
  z-index: 999;
  border-radius: 3em;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  transition: all 0.5s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index: 9999;
}
.progressBar{
  margin: 0 5%;
  align-self: flex-start;
  left: 0;
  /* background-color: #a946d7bb; */
  background-color: #a933d090;
  height: 15px;
  margin-top: -0.3em;
  border-radius: 1em;
  transition: all 0.5s linear;
}


.scoreBar{
  width: 10%;
  border-radius: 3em;
  margin: 0.3em;
  padding: 0.6em;
  background: #e445cf;
  right: 0;
  margin-bottom: 1em;
  font-size: 1.5em;
  color: #f6ff98;
  text-align: center;
}
.scoreBar span{
  margin-right: 3px;
}



.scoreBoxDetails{
  z-index: 1000;
  opacity: 0.3;
   position: absolute; 
   display: flex;
   justify-content: center;
   align-items: center;
} 
.scoreBoxDetails img{
  top: 50%;
  bottom: 50%;
  width: 100%;
  height: 100%;
}

.scoreBox h1, .scoreBox h2{
  z-index: 1001;
}

.login-container{
  box-sizing: border-box;
  position: absolute;
  background: #fff;
  color: #7a2dff;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 7vw;
  display: flex;
  flex-direction: column;
}
.login-container input[type=text], input[type=password]{
  outline: none;
  font-size: large;
  border: none;
  padding: 3em 0;
  padding-bottom: 1em;
  border-bottom: solid 2px #7a2dff;
}
.login-container input[type=password]{
  margin-bottom: 3vw;
}
.login-container button{
  border: none;
  padding: 0.6em 0;
  background:  #7a2dff;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
.login-container .signupbtn{
  margin-top: 1em;
  background:  #e445cf;
}

.login-svg img{
  margin-top: 15vh;
  width: 50%;
}

.profile-container{
  box-sizing: border-box;
  border-radius: 2em;
  width: 100%;
  height: 80vh;
  display: flex;
  overflow: hidden;
}
.profile-menu-bar{
  box-sizing: border-box;
  padding: 2em;
   width: 20%;
   height: 100%;
   background: #7a2dff;
   display: flex;
   flex-direction: column;
}
.profile-content{
  overflow-y: auto;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  background: #fff;
  color: #7a2dff;
  padding: 3%;
}
.profile-section{
  cursor: pointer;
}